"Security+ OIV Building\securityplus\dlc.rpf"
"Security+ Zip File Building\Security+.zip"
"Security+ Zip File Building\Automatic Install\Security+ Auto Installer.exe"
"SecurityPlusInstaller\SecurityPlusInstaller\bin\Debug\SecurityPlusInstaller.exe"
"SecurityPlusInstaller\SecurityPlusInstaller\obj\Debug\SecurityPlusInstaller.exe"
"SecurityPlusInstaller\SecurityPlusInstaller\obj\Debug\SecurityPlusInstaller.Properties.Resources.resources"